<div class="post borders">
  <a href="/post/{{id}}">
    <div class="post-header">
      <h3>{{post.title}}</h3>
      <h4>Posted by
        <span id="post-username">{{post.user.username}}</span>
        on
        {{post.date}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.content}}</p>
    </div>
  </a>
</div>