<div class="posts hanken">
  <div class="post-page">
    <div class="post-header">
      <h3>{{post.title}}</h3>
      <h4>Posted by
        <span id="post-username">{{post.vector_space_db_user.username}}</span>
        on
        {{getDate post.date}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.content}}</p>
    </div>
  </div>

  <section class="comments">
    {{#each post.vector_space_db_comments as |comment|}}
      <div class="comment light-background">
        <div class="comment-header">
          <h4>Posted by
            <span
              id="post-username"
            >{{comment.vector_space_db_user.username}}</span>
            on
            {{getDate comment.date}}</h4>
        </div>
        <div class="comment-body">
          <p class="comment-text">{{comment.content}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</div>

<div id="new-comment-outer">
  <section class="hanken full-border" id="new-comment">
    <p id="plus"><i class="fa-solid fa-plus"></i> New comment</p>
  </section>
</div>

<div class="hidden hanken" id="new-comment-section">
  <section
    class="modal-look posts fade-in-quick"
    id="new-comment-section-inner"
  >
    <div id="title-and-x">
      <p>New comment:</p>
      <i class="fa-solid fa-x" id="x-out"></i>
    </div>
    <p class="hidden comment-alert" id="comment-content-alert">Please enter
      content for your comment</p>
    <input type="text" id="comment-content" name="comment-content" />
    <p class="hidden comment-alert" id="comment-alert">Sorry, we weren't able to
      create that comment. Try again later!
    </p>
    <button id="post-new-comment-button">Comment</button>
  </section>
</div>

{{! JAVASCRIPT }}
<script src="/js/new-comment.js"></script>