{{#each post as |post|}}
<a href="/post/{{id}}">
  <div class="post borders">
    <div class="post-header">
      <h3>{{post.title}}</h3>
      <h4>Posted by
        <span id="post-username">{{post.user.username}}</span>
        on
        {{getDate post.date}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.content}}</p>
    </div>
  </div>
</a>

<section>
  {{#each comment as |comment|}}
  {{> comment-details}}
  {{/each}}
</section>
{{/each}}