<div class="card post">
    <a href="/post/{{id}}">
        <div class="card-header">
            <h3>{{title}}</h3>
            <h4>Posted by {{User.username}} on {{date}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
    </a>
</div>

<section>
  {{#each comment as |comment|}}
  {{> comment-details}}
  {{/each}}
</section>