<div class="posts hanken">
  <div class="post-page">
    <div class="post-header">
      <h3>{{post.title}}</h3>
      <h4>Posted by
        <span id="post-username">{{post.user.username}}</span>
        on
        {{getDate post.date}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.content}}</p>
    </div>
  </div>

  <section class="comments">
    {{#each post.comments as |comment|}}
      <div class="comment light-background">
        <div class="comment-header">
          <h4>Posted by
            <span id="post-username">{{comment.user.username}}</span>
            on
            {{getDate comment.date}}</h4>
        </div>
        <div class="comment-body">
          <p class="comment-text">{{comment.content}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</div>